---
title: Le Wagon Middleman boilerplate
---

<!-- <div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div> -->
    <!-- Your banner code -->
<!--     <div class="banner" style="  background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background.jpg" %>')";
"> -->

<%= partial "index/banner" %>
    <!-- Your features code -->
<%= partial "index/features" %>
    <!-- Your cards code -->
<%= partial "index/cards" %>
    <!-- Your newsletter code -->
<%= partial "index/newsletter" %>

<%= partial "index/map" %>

    <!-- Your footer code -->

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->

